body {
    background-color: #222222;
}

section {
    background-color: #222222;
    padding: 0 60px;
}

h2 {
    color: #F6C90E;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    margin: 0;
}

h3 {
    color: #F6C90E;
    font-family: 'Rubik', sans-serif;
}

h4 {
    color: #F4DFC8;
    font-family: 'kanit', sans-serif;
}

p {
    color: #F4DFC8;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

#education, #interests, #achievements {
    margin-bottom: 150px;
}


#background {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    img {
        width: 380px;
        border: 5px solid #F6C90E;
    }

    div {
        margin-left: 20px;
    }
}

#education {
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        > div {
            
            border: 5px solid #F6C90E;
            border-radius: 30px;
            background-position: center;

            h3, h4 {
                text-align: center;
                margin-top: 10px;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                background-color: rgba(34, 34, 34, 0.7);
                padding: 50px;
                border-radius: 25px;
            }
        }

        #nu {
            background-image: url(/images/aboutme/education/nu-bg.jpg);
        }

        #les {
            background-image: url(/images/aboutme/education/les-bg.jpg);
        }

        #lhs {
            background-image: url(/images/aboutme/education/lhs-bg.jpg);
        }
    }

    #nu-logo {
        width: 148px;
    }

    img {
        width: 180px;
    }
}

#interests {
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 50px;

        video {
            width: 500px;
            margin-right: 20px;
            border: 5px solid #F6C90E;
            border-radius: 0 30px 0 30px;
        }
    }
}

#achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    img {
        width: 50%;
        border: 5px solid #F6C90E;
        border-radius: 30px;
    }

    table {
        border-collapse: collapse;
        width: 80%;
        margin-top: 50px;

        th {
            font-family: 'Rubik', sans-serif;
        }

        td {
            font-family: 'Kanit', sans-serif;
        }

        td, th {
            border: 1px solid #F6C90E;
            text-align: center;
            color: #F4DFC8;
            font-size: 25px;
        }
    }
}

/*----------------MEDIA QUERIES----------------------*/

@media only screen and (max-width: 920px) {
    #background {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 870px) {
    #background {
        margin-top: 170px;
    }
}

/* for the school logos*/
@media only screen and (max-width: 1050px) {
    #education {

        .container {
            display: flex;
            flex-direction: column;
    
            #les {
                width: 80%;
                margin-bottom: 30px;
            }
    
            #lhs {
                width: 80%;
                margin-bottom: 30px
            }

            #nu {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 870px) {
    #background {
        flex-direction: column;

        h2 {
            text-align: center;
            margin-top: 30px;
        }

        img {
            margin-top: 150px;
        }
    }

    #interests {

        .container {
            flex-direction: column;

            h3 {
                text-align: center;
            }

            video {
                width: 80%;
            }

            div {
                p {
                    text-align: justify;
                }
            }
        }
    }

    #achievements {
        img {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 750px) {

    #interests {

        .container {
            flex-direction: column;

            h3 {
                text-align: center;
            }

            video {
                width: 80%;
            }

            div {
                p {
                    text-align: justify;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #background {
        margin-top: 180px;

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        img {
            width: 80%;
        }
    }

    #education {
        
        .container {
            #les {
                width: 95%;
            }

            #lhs {
                width: 95%;
            }

            #nu {
                width: 95%;
            }
        }
    }

    #interests {

        .container{
            video {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    #background {
        margin-top: 60px;

        img {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 412px) {
    #background {
        img {
            width: 60%;
        }
    }
}

@media only screen and (max-width: 376px) {
    #background {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 360px) {
    #background {

        img {
            width: 300px;
        }

    }

    #education {

        .container {

    
            #les {
                width: 300px;
            }
    
            #lhs {
                width: 300px;
            }

            #nu {
                width: 300px;
            }
        }
    }

    #interests {

        .container {

            video {
                width: 300px;
            }
        }
    }
}