* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70px;
    background-color: #222222;
    border-bottom: 2px solid #F6C90E;
    position: fixed;
    top: 0;
    
    div {
        display: flex;
    }
}

h1 > a {
    color: #F4DFC8;
    margin: 0 40px 0 0;
    padding: 0 40px 0;
    border-right: 2px solid #F4DFC8;
    font-size: 30px;
    height: 40px;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    white-space: nowrap;
}

nav{
    display: flex;
    align-items: center;
    flex: 1;
}

nav > a {
    text-decoration: none;
    margin-right: 40px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #F4DFC8;
    padding: 3px 0 3px;
    white-space: nowrap;
}

nav > a:hover {
    color: #F6C90E;
}

#about-me-link {
    text-decoration: none;
    margin-right: 40px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #F4DFC8;
    padding: 7px 15px;
    border-radius: 25px;
    border: 2.5px solid #F4DFC8;
    white-space: nowrap;
}

#about-me-link:hover {
    color: #F6C90E;
    border-color: #F6C90E;
}


/* ------------------------------- */

body > div {
    background-image: url(/images/homepage/cloud-bg.jpg);
    background-size: cover;
}


#intro > div {
    width: 40%;
    margin-left: 40px;
}

#intro > div > p {
    font-family: 'Kanit', sans-serif;
    color: #F4DFC8;
    font-weight: bold;
    text-align: justify;
    font-size: 22px;
    line-height: 1.8;
}

#intro > div > h2 {
    font-family: 'Rubik', sans-serif;
    color: #F6C90E;
    text-align: justify;
    font-size: 40px;
}

#intro {
    width: 100vw;
    height: 100vh;

    background-color: rgba(34, 34, 34, 0.8);

    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    #socials {
        i {
            font-size: 40px;
            color: #F4DFC8;
            margin-right: 20px;
        }

        i:hover {
            font-size: 40px;
            color: #F6C90E;
            margin-right: 20px;
        }
    }
}

#me-img {
    width: 26.041666666666668vw; 
    border-radius: 50px 0 50px 0;
    border: 8px solid #F6C90E;
}

@media only screen and (max-width: 920px) {
    header {
        flex-direction: column;
        height: 140px;

        h1 > a {
            border-right: none;
        }
    }

    body > div {
        margin-top: 20px;
    }

    #me-img {
        width: 40%; 
        border-radius: 50px 0 50px 0;
        border: 8px solid #F6C90E;
    }

    #about-me-link {
        margin-right: 0;
    }
}

@media only screen and (max-width: 750px) {

    body > div {
        margin: 0;
    }

    #me-img {
        margin-top: 30px;
    }

    #intro {
        flex-direction: column;
        margin-left: 0;

    }

    #intro > div {
        width: 90%;
        margin-left: 0;

        h2 {
            text-align: center;
        }
    }
    
    #intro > div > p {
        font-family: 'Kanit', sans-serif;
        color: #F4DFC8;
        font-weight: bold;
        text-align: justify;
        font-size: 22px;
        line-height: 1.8;
    }
    
    #intro > div > h2 {
        font-family: 'Rubik', sans-serif;
        color: #F6C90E;
        text-align: justify;
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {


    header {
        height: 200px;
        width: 100%;

        h1 {
            text-align: center;
            padding: 0;
            margin-bottom: 10px;
            
            a {
                margin: 0;
            }
        }

        div {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            nav {
                margin-bottom: 10px;

                a {
                    margin: 10px;
                }

                :last-child {
                    margin: 0;
                }
            }

            #about-me-link {
                width: 120px;
            }
        }
    }

    #intro {
        margin: 0;
        #me-img {
            margin-top: 120px;
            margin-bottom: 20px;
        }

        div {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    #me-img {
        width: 170px;
    }
}

@media only screen and (max-width: 540px) {
    #me-img {
        width: 150px;
    }



    #intro {

        div{
            h2 {
                font-size: 25px;
            }
        }
    

        #socials {
            i {
                font-size: 30px;
            }
        }
    }
}